*,*:before, *::after {
   box-sizing: border-box;
}
body, html {
   padding: 0;
   margin: 0;
   color: #444;
   font-family: "Segoe Ui", sans-serif;
}
h1, h2, h3, h4, h5, h6, body, html, p {
   font-weight: 400;
   margin: 0;
}
.container {
   max-width: 90%;
   margin: auto;
}
@media (min-width: 850px){
   .container {
      max-width: 800px;
   }
}
.tac {
   text-align: center;
}
.logo {
   margin: auto;
   margin-top: 40px;
   display: block;
   width: 150px;
}
.logo-title {
   font-size: 10vmin;
}
p {
   font-size: 25px;
}